body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    width: 1024px;
    margin: 50px auto;
    text-align: center;
}
#personFirstName, #personLastName, #personEmail {
    margin-bottom: 15px;
}
.label--first {
    font-size: 25px;
}
.label--second {
    padding: 5px;
    margin: 5px;
    font-size: 15px;
}
